body{
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.container{
    width:60vw;
    height: 90vh;
    background-color: aliceblue;
    border: 1px solid grey;

}

.header {
    width: 100%;
    height: 150px;
    background-color: #48247c;
}

.line {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.line > img {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    border-radius: 50%;
}
.line > h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.line2 {
    display: flex;
    justify-content: space-around;
}

.line2 > h3 {
    color: #fff;
}

.border {
    width: 100%;
    display: flex;
    justify-content: start;
}


.border > hr {
    background-color: #fff !important;
    width: 280px;
    height: 5px;
    margin: 0px;
    border: none;
}


.card1 {
    width: 47%;
    height: 260px;
    background-color:#fff ;
    /* margin-bottom: 13px; */
    padding: 0 13px;
}
.card1 > span {
    
    font-size: 22px;
    
}
.s1 {
    margin-right: 40px;

}

.s3 {
    margin-left: 180px;
}

.s02 {
    margin-right: 55px;
    
}

.s03 {
    margin-left: 145px;
    
}

.d2, .d3 > span {
    font-size: 20px;
}


.data {
    display: flex;
    flex-wrap: wrap;
}

.d4 > img{
    margin-left: 120px;
}